environnement/saas/n8n/n8n-data/import/workflows/HA-test-gemini-2.json
{
  "name": "HA-test-gemini-1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {
          "systemMessage": "You are a great assistant and you help users interact with Home Assistant.\n\nYou have tools at your disposal.\nThey allow you to turn lights on or off.\n\nThe available Home Assistant entities are:\n\n- “light.ikea_ampoule2” for the living room\n\nIf you do not recognize a command that asks you to interact with one of these entities, do not call the tools and respond with: “No action possible!”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -2368,
        -1840
      ],
      "id": "999d0e5c-ad7d-4f58-8e7c-c52867d65025",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send an announcement to home assistant. ",
        "resource": "service",
        "operation": "call",
        "domain": "assist_satellite",
        "service": "announce",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "assist_satellite.assist_microphone"
            },
            {
              "name": "message",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `This value is the announcement you with to make. `, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        -1760,
        -1520
      ],
      "id": "f8db48ea-32f5-4a9a-ae92-64d630915831",
      "name": "Home Assistant Announce",
      "credentials": {
        "homeAssistantApi": {
          "id": "eCWyKU746Uz0RBkh",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Turns on one or more lgiths an dadjusts their properties, even when they are turned on already. ",
        "resource": "service",
        "operation": "call",
        "domain": "light",
        "service": "turn_on",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        -2112,
        -1520
      ],
      "id": "604ab5c1-3606-4a7e-ba05-99d9b01afd9f",
      "name": "Home Assistant Light Turn on",
      "credentials": {
        "homeAssistantApi": {
          "id": "eCWyKU746Uz0RBkh",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Turns off one or more lights. ",
        "resource": "service",
        "operation": "call",
        "domain": "light",
        "service": "turn_off",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        -1936,
        -1520
      ],
      "id": "ae20b40c-24cf-4cac-9333-518fc3d7f1b9",
      "name": "Home Assistant Light Turn Off",
      "credentials": {
        "homeAssistantApi": {
          "id": "eCWyKU746Uz0RBkh",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Assist Connection\n",
        "height": 580,
        "width": 1540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        -1936
      ],
      "id": "c8a2a857-aeb8-4919-8c1c-586a48eb03a2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2512,
        -1632
      ],
      "id": "19dc7613-ee60-4153-bfaf-bc1d95da9ff7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ANjzdVb2ond0CRva",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2640,
        -1840
      ],
      "id": "377fe7b5-356a-41a2-a72a-fc9c36972071",
      "name": "Webhook",
      "webhookId": "41b4acb5-6905-4f39-aa25-dae158415a66"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Home Assistant Announce": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Home Assistant Light Turn on": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Home Assistant Light Turn Off": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0265a10-9fa8-46c0-816f-8eb7a6c5b36f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14f286ca435d1fa3b9d8041e8f06aa0af7ab28ea8edcd7e11fd485a100b632b"
  },
  "tags": []
}